<launch>
  <machine
      name="bjsk"
      address="192.168.101.2"
      user="bjsk"
      env-loader="/home/bjsk/publicWorkspace/dev/ros/indigo/devel/remote_env_loader.sh"
  />


  <arg name="input_data_path" default="/home/bjsk/publicWorkspace/data/handOver" />
  <arg name="input_bag_files" default="waving_ba_notlooking_ishikura_3" />

  <node machine="bjsk" pkg="rosbag" type="play" name="player" output="screen" args="-l $(arg input_data_path)/$(arg input_bag_files).bag" />
    
  <param name="camera_topic" value="/camera/rgb/image_rect_color" />
  <remap from="/camera/rgb/image_rect_color" to="/hsrb/head_rgbd_sensor/rgb/image_rect_color" />
  <node
      machine="bjsk"
      name="openpose_ros_node"
      pkg="openpose_ros"
      type="openpose_ros_node"
  />

</launch>  
